*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Roboto-Bold;
    src: url(../fuentes/Roboto-Bold.ttf);	
  }
  @font-face {
    font-family: Roboto-Medium;
    src: url(../fuentes/Roboto-Medium.ttf);
  }
:root{
    --fuentetitulo:"Roboto-Bold";
    --fuenteparrafo:"Roboto-Medium";
   --naranja-pag:rgba(254, 129, 1, 1);
   --azul-pag:rgba(60, 160, 216, 1);
   --grisfondogpenascal:rgba(235, 231, 231, 0.75);
    }



/* ------------------INICIO HEADER------------------- */
.Cont-header{
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/header-background.png);
    background-size: cover;
}

.aboutUs{
    width: 100%;
    height: 80vh;
}

/* ------------------INICIO SOCIAL PROMISE------------------- */
.socialPromise{
    padding-bottom: 5%;
}
.socialPromise__list--parallax{
    overflow: scroll;
   background-image: url(../imagenes/parallax.jpg);
   background-attachment: fixed;
    background-size:contain;
    background-position:center;
    background-size: 100% 100%;
    background-repeat: no-repeat;  
}
::-webkit-scrollbar{
    display: none;
}
.socialPromise__list--parallax{
    height: 60vh;
}
.socialPromise__article{
    width: 100%;
    padding-top: 5%;
 }
 .socialPromise__article__cont--flex{
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
 }
.socialPromise__article--title{
    font-family: var(--fuentetitulo);
    font-size: clamp(2.5rem, 1.5vw, 2rem);
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
    text-decoration: underline var(--azul-pag);
}
.socialPromise__article--paragraph{
    font-family: var(--fuenteparrafo);
    font-size: clamp(1.3rem, 1.5vw, 2rem);
    margin-left: 3%;
}
/* ------------------FIN SOCIAL PROMISE------------------- */


/* ------------------INICIO SERVICES------------------- */

/* ------------------FIN SERVICES------------------- */

/*-------------------INICIO GRUPO PÉNASCAL-------------------*/
.grupoPeñascal{
    width: 100%;
    height: 85vh;
    background-color: var(--grisfondogpenascal);
    position: relative;
    padding-top: 1.5%;
}
.grupoPeñascal__titular{
display: flex;
font-family: var(--fuentetitulo);
font-size: clamp(2.5rem, 1.5vw, 3rem);
justify-content: center;
}
.grupoPeñascal__separador{
    display: flex;
    float: right;
    margin-right: 5%;
    margin-top: 1.5%;
}
.grupoPeñascal__img8{
    position: absolute;
    	left: 4%;
        top: 27%;
}
.grupoPeñascal__img4{
    position: absolute;
    left: 27%;
    top: 19%;
}
.grupoPeñascal__img6{
    position: absolute;
    left: 6%;
    top: 45%;
}
.grupoPeñascal__img3{
    position: absolute;
    left: 24%;
    top: 43%;
}
.grupoPeñascal__img5{
    position: absolute;
    left: 46%;
    top: 21%;
}
.grupoPeñascal__img9{
    position: absolute;
    left: 65%;
    top: 18%;
}
.grupoPeñascal__img10{
    position: absolute;
    left: 83%;
    top: 26%;
}
.grupoPeñascal__img1{
    position: absolute;
    left: 43%;
    top: 47%;
}
.grupoPeñascal__img7{
    position: absolute;
    left: 38%;
    top: 67%;
}
.grupoPeñascal__img11{
    position: absolute;
    left: 55%;
    top: 66%;
}
.grupoPeñascal__img2{
    position: absolute;
    left: 72%;
    top: 50%;
}
/*-------------------FIN GRUPO PÉNASCAL-------------------*/

/*-------------------INICIO FOOTER-------------------*/
.piedepagina{
    width: 100%;
    height: 60vh;
    background-color: black;
}