*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Roboto-Bold;
    src: url(../fuentes/Roboto-Bold.ttf);	
  }
  @font-face {
    font-family: Roboto-Medium;
    src: url(../fuentes/Roboto-Medium.ttf);
  }
:root{
    --fuentetitulo:"Roboto-Bold";
    --fuenteparrafo:"Roboto-Medium";
   --naranja-pag:rgba(254, 129, 1, 1);
   --azul-pag:rgba(60, 160, 216, 1);
    }



/* ------------------INICIO HEADER------------------- */
.Cont-header{
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/header-background.png);
    background-size: cover;
}

.aboutUs{
    width: 100%;
    height: 80vh;
}

/* ------------------INICIO SOCIAL PROMISE------------------- */
.socialPromise{
    width: 100%;
    height: 60vh;
}
.socialPromise__list--parallax{
    overflow: scroll;
   background-image: url(../imagenes/parallax.jpg);
   background-attachment: fixed;
    background-size:contain;
    background-position:center;
    background-size: 100% 100%;
    background-repeat: no-repeat;  
}
::-webkit-scrollbar{
    display: none;
}
.socialPromise__list--parallax{
    height: 60vh;
}
.socialPromise__article{
    width: 100%;
    padding-top: 5%;
 }
 .socialPromise__article__cont--flex{
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
 }
.socialPromise__article--title{
    font-family: var(--fuentetitulo);
    font-size: clamp(2.5rem, 1.5vw, 2rem);
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
    text-decoration: underline var(--azul-pag);
}
.socialPromise__article--paragraph{
    font-family: var(--fuenteparrafo);
    font-size: clamp(1.3rem, 1.5vw, 2rem);
    margin-left: 3%;
}
/* ------------------FIN SOCIAL PROMISE------------------- */


/* ------------------INICIO SERVICES------------------- */
.services{
    width: 100%;
    height: 300vh;
   
}