*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Roboto-Bold;
    src: url(../fuentes/Roboto-Bold.ttf);	
  }
  @font-face {
    font-family: Roboto-Medium;
    src: url(../fuentes/Roboto-Medium.ttf);
  }
:root{
    --fuentetitulo:"Roboto-Bold";
    --fuenteparrafo:"Roboto-Medium";
   --naranja-pag:rgba(254, 129, 1, 1);
   --azul-pag:rgba(60, 160, 216, 1);
    }



/* ------------------INICIO HEADER------------------- */
.Cont-header{
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/header-background.png);
    background-size: cover;
}
/* ----- header - navegador-------- */
.Cont-header__navegador{
    padding-top: 4%;
    padding-left: 3%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Cont-header__navegador-menu{
    width: 50%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
}
.navegador__lista-enlace{
    color: #fff;
    font-size: calc(0.5em + 1vw);
    text-decoration: none;
    font-family:var(--fuentetitulo);
}
.nav-idiom:hover{
    background-color: var(--azul-pag) ;
    border-radius: 5%;
    
}
  .nav-idiom:focus{
    background-color:var(--naranja-pag);
  
  }
  .nav-idiom{
    padding-right: 2px;
    border-right: 2px solid white;
  }


/* ----header - presentación---- */
.Cont-header__presentIturritek{
    color: #fff;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Cont-header__presentIturritek-title{
    font-size: calc(2.3em + 3.5vw);
    text-align: center;
    font-family: var(--fuentetitulo);

}
.Cont-header__presentIturritek-text{
    width: 50%;
    margin: 3%;
    font-size: calc(0.8em + 0.6vw);
    text-align: center;
    font-family: var(--fuenteparrafo);
}
.presentIturritek__Btn-contact{
    text-decoration: none;
    font-size: 1.3rem;
    font-family: var(--fuenteparrafo);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--naranja-pag);
}

/* --------------INICIO ABOUT-US -------------------- */
.aboutUs{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
 
}
.aboutUs__article{
    width: 60%;
    height: 60vh;
    text-align: center;
}
.aboutUs__article--title{
    font-size: calc(0.8em + 0.8vw);
    font-family: var(--fuentetitulo);
}
.aboutUs__article--info{
    font-size:calc(0.5em + 1vw) ;
    margin: 2%;
    font-family: var(--fuenteparrafo);
}

/* ------------------INICIO SOCIAL PROMISE------------------- */
.socialPromise{
    width: 100%;
    height: 60vh;
}
.socialPromise__list--parallax{
    overflow: scroll;
   background-image: url(../imagenes/parallax.jpg);
   background-attachment: fixed;
    background-size:contain;
    background-position:center;
    background-size: 100% 100%;
    background-repeat: no-repeat;  
}
::-webkit-scrollbar{
    display: none;
}
.socialPromise__list--parallax{
    height: 60vh;
}
.socialPromise__article{
    width: 100%;
    padding-top: 5%;
 }
 .socialPromise__article__cont--flex{
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
 }
.socialPromise__article--title{
    font-family: var(--fuentetitulo);
    font-size: clamp(2.5rem, 1.5vw, 2rem);
    display: flex;
    justify-content: center;
    padding-bottom: 3%;
    text-decoration: underline var(--azul-pag);
}
.socialPromise__article--paragraph{
    font-family: var(--fuenteparrafo);
    font-size: clamp(1.3rem, 1.5vw, 2rem);
    margin-left: 3%;
}
/* ------------------FIN SOCIAL PROMISE------------------- */


/* ------------------INICIO SERVICES------------------- */
.services{
    width: 100%;
    height: 300vh;
   
}